.gallary{
    padding: 48px;
    background-color: black;
    color: white;
}
.gallary h2{
    margin-top: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.grid_wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid_wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid_wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid_wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid_wrapper .wide {
	grid-column: span 2;
}
.grid_wrapper .tall {
	grid-row: span 2;
}
.grid_wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
.social_media{
    margin-top: 5rem;
}
.social_media p{
    margin-top: 1vw;
    font-weight: 300;
}
.social_media h1{
    font-size: 5vw;
    margin-top: 2vw;
    width: 70%;
    font-weight: 500;
}
.inner_link{
    margin: 3rem;
}
.social{
    margin-top: 3.5rem;
}
.social a{
    font-size: 1.3rem;
}
@media (max-width: 860px) {
    .social_media h1{
        font-size: 7vw;
        width: 75%;
    }
    .inner_link{
        margin: 2rem;
    }
}
@media (max-width: 530px) {
    .social_media h1{
        font-size: 8vw;
        width: 95%;
    }
    .inner_link{
        margin: 1rem;
    }
    .gallary{
        padding: 30px;
    }
}