@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Orbitron','Raleway','Syncopate',Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    background-color: #151414;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.earthquake{
  position: absolute;
  top: 8vh;
  left: 0;
  height: 92vh;
  width: 100vw;
}
.earthquake canvas{
  background-image: url("/stars.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../Fonts//Gilroy-Bold.ttf');
}