.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 8vh;
    padding: 0 5rem;
    position: relative;
    background-color: transparent;
    z-index: 2;
}
.logo{
    font-weight: 800;
    font-size: 2.2rem;
}
.navlist{
    list-style-type: none;
}
.navlist li{
    cursor: pointer;
    display: inline;
    margin: 0 1rem;
}
