.timeline_wrapper{
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    height: auto;
    color: black;
    color: white;
    text-align: center;
}
.timeline_wrapper h1{
    margin: 5.5rem 0px;
    font-size: 5rem;
    color: white;
    text-align: center;
}
.date{
    color: white;
}

@media (max-width: 720px) {
    .timeline_wrapper h1{
        font-size: 4rem;
    }
}
@media (max-width: 555px) {
    .timeline_wrapper h1{
        font-size: 3.1rem;
    }
}

@media (max-width: 350px) {
    .timeline_wrapper h1{
        font-size: 2rem;
    }
}